@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .bg {
    @apply h-screen w-screen p-4 bg-gradient-to-r from-[#2F80ED] to-[#1CB5E0];
  }
  .container {
    @apply bg-slate-100 max-w-[500px] w-full m-auto rounded-md shadow-xl p-4;
    max-width: 500px; /* Ensure max-width is set */
    width: 100%; /* Ensure width is set */
    margin: 0 auto; /* Center the container */
    padding: 1rem; /* Add padding */
    box-sizing: border-box; /* Ensure padding is included in the width */
  }
  .heading {
    @apply text-3xl font-bold text-center text-gray-800 p-2;
  }
  .form {
    @apply flex justify-between;
  }
  .input {
    @apply border p-2 w-full text-xl;
  }
  .button {
    @apply border p-4 ml-2 bg-purple-500 text-slate-100;
  }
  .count {
    @apply text-center p-2;
  }
  .completed {
    text-decoration: line-through;
  }
}